@page
@model Assignment_2.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Active Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderID">Decline</a>
            </td>
        </tr>
}
    </tbody>
</table>
