@page
@model Assignment_2.Pages.DeliveryPerson.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTotal)
        </dd>

        @foreach(var item in Model.Order.OrderedItems)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Item.Name)
            </dt>
            <dd class="col-sm-1">
                @Html.DisplayFor(model => item.Item.Name)
            </dd>
            <dd class="col-sm-9">
                <form method="post">
                    <input type="hidden" asp-for="ItemIDToDelete" value="@item.ItemID" />
                    <input type="submit" asp-page-handler="DeleteItem" asp-route-id="@Model.Order.OrderID" value="Item Unavailable" class="btn btn-danger btn-sm" />
                </form>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Orders</a>
</div>
